[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = http://github.com/LearnBoost/mongoose.git
[submodule "vendor/validate"]
	path = vendor/validate
	url = http://github.com/carlmw/sweetnr-blog.git
