#content.error-404(role='main') 
  h1 File Not Found
  p That's not very useful. Maybe the following will help you get to where you want to be.
  ul
    li If you <strong>typed the url</strong> into your address bar (how quaint!) you might want to check your spelling.
    li If you <strong>clicked a link</strong> this may be a result of that most awful affliction &lsquo;link rot&rsquo; (the syphilis of the internets!). If this is the case you might want to pop the owner of the site in question an email advising them to get themselves &lsquo;checked out&rsquo;.
    li If you <strong>mashed the keyboard with your palm</strong>, amazing.
  p Failing that you can be instantaneously transported the <a href="/">home page</a> where you might find the thing you were looking for.