#content.error-500(role='main') 
  h1 Oh dear, something is pretty b0rked
  p I'm embarrased to have to admit that something just went pretty majorly wrong.
  p You could try <strong>refreshing the page</strong>, in the hope that whatever did go wrong was a fluke.