#content
  h1 Login
  form(method='post', action='/auth')
    label
      span Username
      input(type='text', name='username')
    label
      span Password
      input(type='password', name='password')
    button(type='submit') Login