- var more = (articles.length>4), page = (parseInt(this.req.params[1])||1); articles.length=10;
#content(role='main')
  section#stream(role='region', aria-live='assertive', aria-relevant='additions')
    div#stream-content
      - if(this.req.params[0] == 'tag')
        h1 Posts tagged '#{this.req.params[1]}'
      - else if(this.req.params[0] == 'category')
        h1=this.req.params[1].charAt(0).toUpperCase() + this.req.params[1].slice(1)
      - else
        h1 Recent posts
      - if(typeof(articles) == 'undefined' || articles.length === 0)
        p Nothing to see here
      - else
        div#articles
          != partial('articles', articles)
    - if(more)
      p.paging
        a(href='/page/'+(page+1), rel='next') Next page